<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Acerca de</h2>
                    <h3 class="section-subheading text-muted">RaiHogar Limpieza and Servicios de Hogar</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Empezamos</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Sobre los años la experiencia acumula.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/limpieza-del-hogar.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Limpieza</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Limpieza de hogares, apartamentos, casas y chalet.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/dulce-hogar.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Hogar, dulce hogar</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lavar la ropa, planchar. Cocinar, cuidar a los niños.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/FullService.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Servicio completo</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> Decoración y pintura. Gestión y cuidado de apartamentos bajo alquiler de Airbnb.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Nuestro
                                    <br>
                                    <br>futuro!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>